<div class="gallery">
	<h1>My first gallery</h1>
	<p>Find me in app/views/galleries/index.html.erb</p>
	<ul class="thumbnails">
	  <li class="span3">
	    <a href="http://placehold.it/520x360" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	   <li class="span3">
	    <a href="http://placehold.it/520x360" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	   <li class="span3">
	    <a href="http://placehold.it/520x360" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	   <li class="span3">
	    <a href="http://placehold.it/520x360" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	   <li class="span3">
	    <a href="http://placehold.it/520x360" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	   <li class="span3">
	    <a href="http://placehold.it/520x360" class="thumbnail">
	      <img src="http://placehold.it/260x180" alt="">
	    </a>
	  </li>
	</ul>
</div>