<div class="span9">
  <% @image_stores.each do |store| %>
    <%= div_for(store, :class => "gallery") do %>
      <h1><%= store.name %></h1><br />
      <%= store.description %>
    <% end %>
  <% end %>
</div>