<div class="span9">
  <div class="gallery">
    <table border="0">
      <tr>
        <td id="store_name"><h1><%= @image_stores.name %></h1></td>
        <td><p id="datetime"><%= time_tag @image_stores.created_at %></p></td>
      </tr>
      <tr>
        <td><%= @image_stores.description %></td>
      </tr>
    </table>
  </div>
</div>
