<div class="span9 gallery_show">
  <div class="gallery">
    <table border="0">
      <tr>
        <td id="store_name"><h1><%= @image_store.name %></h1></td>
        <td><p id="datetime"><%= time_tag @image_store.created_at, :format => '%d.%m.%y'  %></p></td>
      </tr>
      <tr>
        <td><%= @image_store.description %></td>
      </tr>
    </table>
    <table border="0">
        <tr>
          <td id="empty_col"></td>
          <td><div><%= link_to 'back', :controller => "galleries", :action => "index"%></div></td>
        </tr>
      </table>
  </div>
</div>
