@import 'bootstrap';
@import 'fancybox';
@import 'galleries';
@import "compass/css3";


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                       DEFAULT                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

$blue: #08C;

body {
   background: #E9E9E9; 
}

.title_gallery {
  margin-left: 16px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                        NAVBAR                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.top_line {
  height: 6px;
  background-color: $blue;  
}

.navbar {
  .brand {
    color: white;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                      ABOUT ME                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

h1 {
  color: $blue;
}
  
.about_me {
  width: 220px;
  position: fixed;
  top: 9%;
  text-align: justify;
  padding-bottom: 7px;
  border-top: 1px solid #B2B2B2;
  border-bottom: 1px solid #B2B2B2;

   h2{
     color: $blue;
   }
 }

 /* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                         LOGIN                          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.login {
  margin: 0 auto;
  width: 320px;
  height: 280px;
  background-color: #FFFFFF;
  @include box-shadow(rgba(0, 0, 0, 0.6) 0px 2px 5px);
  @include border-radius(4px, 4px);

  .content {
    margin: 0 auto;
    padding: 30px; 

    .table {
      width: 300px;
    }
  }
}

#alerte {
  height: 10px;
  background-color: #C43C35;
}
.field_with_errors {
  padding-bottom: 8px;
  color: #FFFFFFx;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                    ADMIN AREA                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.content_menu_admin {
  h1 {
    margin-left: 3px;
    margin-top: 10px;
  }
}

.list_menu {
  width: 200px;
  position: fixed;
  top: 12.5%;
  background-color: #FFFFFF;
  padding: 10px;
  @include box-shadow(rgba(0, 0, 0, 0.2) 0px 2px 3px);
  @include border-radius(2px, 2px);

  .nav-list li a {
    padding: 0px;
    margin: 0px 0px 5px 2px;
  }

  hr {
   margin-bottom: 10px; 
  }
} 

.line_menu {
  background-color: $blue;
  height: 3px;
  margin: 10px 0px 10px 0px;
}

.content_admin {
  background-color: #FFFFFF;
  margin: 0px 0px 0px 250px;
  @include box-shadow(rgba(0, 0, 0, 0.2) 0px 2px 3px);
  @include border-radius(2px, 2px);
  
  .content {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
  }
}

.gallery_admin {
  margin-top: 27px;
  margin-bottom: 40px;
}

#title_admin {
  width: 400px;
  margin: 10px 60px 0px 40px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                    GALLERIE DIV                       *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.gallery_div {
  margin-bottom: 40px;
}
.gallery_show {
  margin-bottom: 500px;
}

.gallery { 
  margin-top: 15px;
  padding: 15px;
  background: #FFFFFF;
  @include box-shadow(rgba(0, 0, 0, 0.6) 0px 2px 5px);
  @include border-radius(4px, 4px);

  #store_name {
    width: 550px; 
  }

  .title_link {
    text-decoration: none; 
  }

  #datetime {
    width: 150px; 
    font-size: 12px;
    font-style: italic;
    text-align: right;
  }

  #empty_col {
    width: 650px; 
  }

  .thumbnails {
    margin-left: 0px;

    .thumbnail {
      height: 133px;
      width: 202px;
      margin-left: 16px;
      margin-bottom: 14px;
      overflow: hidden;

      a {
        display: block;
      }
    }
  }
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                       FOOTER                          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {
  height: 80px;
  width: 100%;
  background-color:#D8D8D8;
  border-top: 1px solid #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
  margin-bottom: 50px;
  
}

#content_footer {
  height: 40px;
  width: 370px;
  margin: 0 auto;
  margin-top: 30px;
  color: #989898; 

  a {
    color: #989898;
    text-decoration: none;
  }
}

