@import 'bootstrap';
@import 'fancybox';
@import 'galleries';

@import "compass/css3";

$blue: #08C;

body {
   background: #C4C4C4; 
}

.title_gallery {
  margin-left: 16px;
}

h1 {
  color: $blue;
}
 .about_me {
  text-align: justify;

   h2{
     color: $blue;
   }
 }

.navbar {
  .brand {
    color: white;
  }
}

.gallery {
  margin-top: 15px;
  background: #FFFFFF;
  @include box-shadow(rgba(0, 0, 0, 0.6) 0px 2px 5px);
  @include border-radius(4px, 4px);

  .thumbnails {
    margin-left: 0px;

    .thumbnail {
      height: 133px;
      width: 202px;
      margin-left: 16px;
      margin-bottom: 14px;
      overflow: hidden;

      a {
        display: block;
      }
    }
  }
}

